# Copy this file to .env and fill in your values.
# Never commit .env to version control.

# Ucode API token — required for all API calls
VITE_UCODE_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbGllbnRfcGxhdGZvcm1faWQiOiIiLCJjbGllbnRfdHlwZV9pZCI6ImRjYjhmOTkxLTAzMjItNDZkNC1hYWU0LTQwYWM0NTAyNzAwOCIsImRhdGEiOiJNb3ppbGxhLzUuMCAoTWFjaW50b3NoOyBJbnRlbCBNYWMgT1MgWCAxMF8xNV83KSBBcHBsZVdlYktpdC81MzcuMzYgKEtIVE1MLCBsaWtlIEdlY2tvKSBDaHJvbWUvMTQ3LjAuMC4wIFNhZmFyaS81MzcuMzYiLCJleHAiOjE3NzkwODc1NzIsImlhdCI6MTc3OTAwMTE3MiwiaWQiOiI5ZjdjZWJkNC0yMWJhLTQyNGYtOWJiZi1mNDA2NDhmZWUwMWMiLCJpcCI6IjEwLjIzMy43NS41NS8zMiIsImxvZ2luX3RhYmxlX3NsdWciOiJhZG1pbnMiLCJwcm9qZWN0X2lkIjoiY2ZjYTJiM2EtYjBlYy00OGEwLWFhNDItZmRkYTZhMGFlNTkwIiwicm9sZV9pZCI6IjMxNGQ5OTczLWMyZmQtNGM1NS1iNjZiLWI2ZDExMjY4NmRhNSIsInRhYmxlcyI6bnVsbCwidXNlcl9pZCI6ImVhNGQ4YTVmLTkxODQtNDdkZi04NDcyLTdjMzBlYzVlYjI0YiIsInVzZXJfaWRfYXV0aCI6IjRjYmI5NzFjLTZlYmUtNGQzYy1iYTA4LWQzN2ExNDkwOTUwNSJ9.AIjYr6DvFOAz6yrts6QbPICYXO9sW-EyCbNJyuSU6ak

VITE_UCODE_ENV_ID=1a2a2763-b92e-4ee9-b7dc-613688368eb4